<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-ioc-appcontext:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-ioc-appcontext</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring-ioc-appcontext</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-ioc-appcontext" />
        </element>
      </element>
    </root>
  </artifact>
</component>